@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .fab-container {
        @apply fixed bottom-20 right-20 cursor-pointer
    }
    
    .button {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 100%;
        background: #60C689;
        box-shadow: 0.3em 0.3em 0.4em #AAAAAA70;
    }

    .plusIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: white;
    }

    .table-cell {
        @apply w-80
    }
}